<!-- <p>controls works!</p> -->

<div class="flex">
  <div class="inline-flex shadow-lg rounded-md">
    <button (click)=" handleDecrease()" class="px-4 py-2 bg-blue-500 text-white rounded-l-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
      Decrease
    </button>
    <button (click)=" handleReset()" class="px-4 py-2 bg-red-500 text-white border-l border-red-400 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300">
      Reset
    </button>
    <button (click)=" handleIncrease()" class="px-4 py-2 bg-green-500 text-white rounded-r-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300">
      Increase
    </button>
  </div>
</div>